@font-face {
    font-family: 'Syne-Bold';
    src: url('fonts/Syne-Bold.ttf');
}

@font-face {
    font-family: 'Syne-ExtraBold';
    src: url('fonts/Syne-ExtraBold.ttf');
}
@font-face {
    font-family: 'Syne-Medium';
    src: url('fonts/Syne-Medium.ttf');
}
@font-face {
    font-family: 'Syne-Regular';
    src: url('fonts/Syne-Regular.ttf');
}

section.container {
    border: 1px solid black;
    width: 780px;
    margin: 0 auto;
    background-color: #111827;

    nav {
        min-height: 64px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;

        div.nav-left img{
            height:24px;
            width: auto;
        }
        div.nav-center {
            display: flex;
            gap: 20px;
        }
        div.nav-right {
            display: flex;
            gap: 16px;
            align-items: center;

            img {
                height: 24px;
                width: auto;
            }
        }

        a {
            color: white;
            font-family: 'syne-medium', serif;
            font-size: 16px;
            padding: 5px;

            &.current-page {
                font-weight: bold;
                text-decoration: underline;

                &.current-page:hover {
                    font-weight: bold;
                }
            }

        }
    }

    section.hero {
        display: flex;
        flex-direction: column;

        img {
            width: 100%;
            display: block;
        }
        h1 {
            color: white;
            font-family: Syne-Medium, sans-serif;
            font-size: 36px;
            display: flex;
            justify-content: center;
        }

    }
    div.film-details {

        h2 {
            color: white;
            text-align: left;
            text-indent: 10px;
            font-family: Syne-Bold, sans-serif;
            font-size: 30px;
            text-transform: uppercase;
        }

        h3 {
            color: #F5F5F5;
            text-align: left;
            text-indent: 10px;
            font-family: Syne-Medium, sans-serif, sans-serif;
            font-size: 18px;
            font-style: normal;
            text-transform: uppercase;
        }
        p {
            color: #F7F7F4;
            text-align: left;
            text-indent: 10px;
            font-family: syne-regular, sans-serif;
            font-size: 16px;
            font-style: normal;
        }
    }

    h3 {
        color: white;
        text-align: center;
        font-family: Syne-Bold, sans-serif;
        font-size: 24px;
    }
    section.gallery-selection {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    div.gallery-item {
        margin: 5px;
        border: 1px solid black;
        width: 240px;
    }
    div.gallery-item img {
        width: 100%;
        display: block;
    }
}
